body{
    margin: 10,0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    background: radial-gradient(circle, #ffd8f0, #ff9fc7e0);
    color: rgb(0, 0, 0);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul li a{
    text-decoration: none;
}


header .logo a{
    background-image: url("Assets/logo.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width:350px;
    height: 220px;
    position: relative;
    text-indent: -99999999px;
    background-color: white;
    border-radius: 35%;
    
}

header .order{
    margin: 20px;
}

header .order a{
    background-color:white;
    padding: 5px;
    border-radius:5px;
    color: black;
}

hr{ /*Lines between sections*/
    border:none;
    background-color: white;
    width: 320px;
    height: 2px
}

.block{
    height:350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: white;
}

#menu{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Assets/all.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    margin: 0 0 20px 0;

}

#menu a, #price a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#price {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Assets/MangoB.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.contact{
    color:white;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}

.email{
    margin-top: -20px;
    color:white;
}

.insta {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap:10px;
    margin-top: -15px;
}
